<h1>TO DO</h1>
<ul>
    @if(todo.length>0){
        @for(task of todo; track task.id){
        <li>
            @if(task.update){
                <input type="text" #texto [(ngModel)]="task.newTitle" name="newTitle">
                <button (click)="updateTask(task)">Guardar</button>
                <button (click)="cancelEdit(task)">X</button>
            }@else {
                {{task.title}} 
                <button (click)="removeTask(task.id)">X</button>
                <button (click)="editTask(task)">E</button>
            }
        </li>
     }
    }@else{
        <p>No hay tareas que mostrar</p>
    }
</ul>
<hr>
<app-create-task (taskCreated)="addTask($event)"></app-create-task>
